
body {
    height: 75%;
    margin: 0;
}

body p {
    text-align: left;
    font: normal 15px verdana, sans-serif;
    padding-left: 10px;
    margin: 0;
}

/*=================================================*/

#ingredients {
    position: fixed;
    top: 180px;
    margin-left: 80%;
    background: #e68a00;
    border-bottom: 2px solid #995c00;
    border-radius: 15px;
}

#ingredients p {
    margin: 0;
}

#ingredients table {
    border-collapse: collapse;
}

#ingredients td {
    border: 2px solid white;
    text-align: center;
}

#ingredients a {
    text-decoration: none;
    color: black;
    text-align: center;
}

/*===============================================================*/

header {
    background: #00cccc;
    height: 102px;
    border-bottom: 2px solid #006666;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

header a {
    text-decoration: none;
    color: white;
    text-align: center;
    font: normal 12px verdana, sans-serif;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header li {
    float: left;
    border-right: 1px solid #bbb;
}

header li.home {
    width: 50px;
    text-align: center;
    margin-top: 6px;
}

header li.home a {
    padding: 0;
    background: transparent;
}

header li.home a img {
    width: 30px;
}

header li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

header li.dropdown {
    display: inline-block;
}

header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

header .dropdown-content a:hover {
    background-color: #f1f1f1
}

header .dropdown:hover .dropdown-content {
    display: block;
}

/*====================================================*/

footer {
    background: #cc0000;
    height: 50px;
    border-top: 2px solid #660000;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

footer p {
    text-align: center;
    color: white;
    font: normal 11px verdana, sans-serif;
    padding-top: 12px;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: white;
    text-align: center;
}

/*====================================================*/

#logo {
    text-align: center;
    margin-top: 120px;
}

#contenu {
    margin-top: 120px;
    font: normal 12px verdana, sans-serif;
}

#contenu #registerForm {
    text-align: center;
}

#contenu #registerForm input {
    margin-top: 10px;
}

#contenu #complements img {
    float: left;
    margin-right: 25px;
    width: 25%;
}

/*====================================================*/

